= simple_form_for(@lugar) do |f|
  = f.error_notification

  .form-inputs
    = f.input :nome
    = f.input :tipo
    = f.association :cidade,label_method: :nome

  .form-actions
    = f.button :submit, 'Salvar'
